xml-resources/web-service-references/Server/wsdl/localhost_8080/SIWebserviceServer/Server.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://fileStatistic.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fileStatistic.me.org/">

<xs:element name="getLetterCount" type="tns:getLetterCount"/>

<xs:element name="getLetterCountResponse" type="tns:getLetterCountResponse"/>

<xs:element name="getLineCount" type="tns:getLineCount"/>

<xs:element name="getLineCountResponse" type="tns:getLineCountResponse"/>

<xs:element name="getWordCount" type="tns:getWordCount"/>

<xs:element name="getWordCountResponse" type="tns:getWordCountResponse"/>

<xs:complexType name="getWordCount">
<xs:sequence>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWordCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLineCount">
<xs:sequence>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLineCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLetterCount">
<xs:sequence>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLetterCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>